{% extends "layout.html" %}

{% block content %}
    {% if session['accounttyp'] == 'Teacher' %}
        <h1>Create a Task!</h1>

        <form method="post">
            <label for="text">Task text:</label>
            <input type="text" id="text" name="text" required /> <br>
            <label for="settime">Time in seconds:</label>
            <input type="settime" id="settime" name="settime" required /> <br>
            <label for="group">Group:</label>
            <select name="group" id="group">
            {% for field in result: %}
                <option value={{field[0]}}>{{field[1]}}</option>
            {% endfor %} 
            </select><br>
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <h1>You dont have permission to create a Task! <br>
    {% endif %}
{% endblock %}