{% extends "layout.html" %}

{% block content %}

<h1>About:</h1>
<p>This site was created to help students learn to manage the time they take to do their homework.</p>
<p>Depending on the speed at which the students complete tasks, the teachers can asess what they as well as the students could improve.
</p>
    {% if session['account'] %}
        <h1>Welcome {{ session['account'] }}!</h1>
    {% else %}
        <h1>Welcome! Please login <a href="{{ url_for('login') }}">here.</a></h1>
    {% endif %}
{% endblock %}