<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <h2>Homework time management</h2>
    </header>
    <section>
      <nav>
        <ul>
          <li><a href="{{ url_for('homepage') }}">Home</a></li>
          {% if session['accountid'] %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('overview') }}">Overview and record assigments</a></li>
            {% if session['accounttyp'] == 'Teacher' %}
              <li><a href="{{ url_for('createtask') }}">Create a Task</a></li>
              <li><a href="{{ url_for('overviewclassme') }}">Overview of my groups</a></li>
              <li><a href="{{ url_for('overviewclassall') }}">Overview of all groups</a></li>
              <li><a href="{{ url_for('overviewtask') }}">Overview of my created tasks</a></li>
              <li><a href="{{ url_for('overviewstudentasks') }}">Overview of tasks per student</a></li>
            {% endif %}
          {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
      <article>
        {% block content %}
        {% endblock %}
      </article>
    </section>
    <img src="{{url_for('static', filename='timemanagement.png')}}" alt="timemanagement">
    <footer>
      <p></p>
    </footer>
  </body>
</html>