{% extends "layout.html" %}

{% block content %}
<h1>Login!</h1>
<form method="post">
    <label for="account">Account:</label>
    <input type="account" id="account" name="account" required /> <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required /> <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}