{% extends "layout.html" %}

{% block content %}
<h1>Overview of tasks per student!</h1>

{% for field in result: %}
        <h2>Student:</h2>
        <p>Lastname: {{field[0]}}  <br>
        Firstname: {{field[1]}}  <br>
        Task: {{field[2]}}  <br>
        Time in seconds (guessed): {{field[3]}}  <br>
        Time in seconds (real): {{field[4]}}  <br> 
        Task Group: {{field[5]}}</p>
{% endfor %} 

{% endblock %}