{% extends "layout.html" %}

{% block content %}
<h1>Overview of all tasks of all groups!</h1>

{% for field in result: %}
        <h2>Task:</h2>
        <p>
        Group Name: {{field[0]}}  <br>
        Average Time in seconds (real): {{field[2]}}  <br>
        Time in seconds (guessed): {{field[1]}}  <br>
        </p>
{% endfor %} 

{% endblock %}