{% extends "layout.html" %}

{% block content %}
<h1>Overview of my created tasks</h1>

{% for field in result: %}
        <h2>Task:</h2>
        <p>
        Task: {{field[0]}}  <br>
        Time in seconds (guessed): {{field[1]}}  <br>
        Average Time in seconds (real): {{field[2]}}  <br>
        Groupname: {{field[3]}}  <br>
        </p>
{% endfor %} 

{% endblock %}