{% extends "layout.html" %}

{% block content %}
<h1>Overview of my tasks!</h1>

{% for field in tasks: %}
    {% for entries in field: %}
    <form method="POST" action="/stopwatch">
        <h2>Task:</h2>
        <p>
        Text: {{entries[0]}}  <br>
        Time in seconds (guessed): {{entries[1]}}  <br>
        Time in seconds (real): {{entries[6]}}  <br>
        Teacher: {{entries[5]}} <br>
        Group: {{entries[4]}} <br>
        </p>
        <input type="hidden" id="taskid{{ loop.index }}" name="taskid" value={{entries[3]}} />
        <button type="submit">Record Time</button>
    </form>
    {% endfor %} 
{% endfor %} 

{% endblock %}