{% extends "layout.html" %}

{% block content %}
    <h1>Stopwatch</h1>
    <button id="button-start">Start</button>
    <button id="button-stop">Stop</button>
    <button id="button-reset">Reset</button> 
    <form method="POST" action="/savewatch">
        <p><span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">00</span></p>
        <input type="hidden" id="taskid" name="taskid" value={{taskid}} />
        <input type="hidden" id="hours_input" name="hours_input" value="00" />
        <input type="hidden" id="minutes_input" name="minutes_input" value="00" />
        <input type="hidden" id="seconds_input" name="seconds_input" value="00" />
        <button type="submit">Save Time</button>
    </form> 
{% endblock %}